<ion-view view-title="{{ticker}}" drag-content="false">

  <ion-nav-bar id="stock-nav-bar" class="bar-dark ng-style:reactiveColor">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <div id="stock-subheader-bar" class="bar bar-subheader bar-light" >

    <div class="buttons" side="left">
      <div class="button button-clear display-flex">
        <h6 id="stock-name">{{marketdata.Name}}</h6>
      </div>
    </div>

    <h2 id="stock-price" class="title button-left button-right">{{pricedata.price | shrinkNumber:2}}</h2>

    <div class="buttons" side="right">
      <div class="button button-clear">
        <h6 id="stock-change" ng-class="marketdata.ChangeinPercent < 0 ? 'assertive' : 'balanced'">{{marketdata.ChangeinPercent}}</h6>
      </div>
    </div>
  </div>

  <ion-content class="has-subheader" scrollbar-y="false">

    <div class="card">
      <div class="item item-divider">Trends</div>
      <div id="short-button-bar" class="button-bar">
        <button ng-click="chartview = 1" class="button" ng-class="chartview ==1 ? 'active' : ''">Day</button>
        <button ng-click="chartview = 2" class="button" ng-class="chartview ==2 ? 'active' : ''">Week</button>
        <button ng-click="chartview = 3" class="button" ng-class="chartview ==3 ? 'active' : ''">3M</button>
        <button ng-click="chartview = 4" class="button" ng-class="chartview ==4 ? 'active' : ''">Year</button>
        <button ng-click="chartview = 5" class="button" ng-class="chartview ==5 ? 'active' : ''">Max</button>
      </div>
      <div class="row row-center">
        <img ng-if="chartview == 1" ng-src="http://chart.finance.yahoo.com/z?s={{pricedata.symbol}}&t=1d&q=l&l=on&z=m&a=vm" style="width:100%"></img>
        <img ng-if="chartview == 2" ng-src="http://chart.finance.yahoo.com/z?s={{pricedata.symbol}}&t=5d&q=l&l=on&z=m&a=vm" style="width:100%"></img>
        <img ng-if="chartview == 3" ng-src="http://chart.finance.yahoo.com/z?s={{pricedata.symbol}}&t=3m&q=l&l=on&z=m&a=vm" style="width:100%"></img>
        <div ng-if="chartview == 4" class="chartStyles" id="interactiveChart" nv-chart="chartOptions"></div>
        <img ng-if="chartview == 5" ng-src="http://chart.finance.yahoo.com/z?s={{pricedata.symbol}}&t=my&q=l&l=on&z=m&a=vm" style="width:100%"></img>
      </div>
    </div>

    <div id="market-data-card" lass="card">
      <div class="item item-divider">Market Data <span class="last-trade">Last trade: {{pricedata.utctime | date:'h:mm a'}}</div>
      <div class="row row-center">
        <div class="col col-30">Ask:</div>
        <div class="col col-20">{{marketdata.Ask | shrinkNumber:2}}</div>
        <div class="col col-30">Bid:</div>
        <div class="col col-20">{{marketdata.Bid | shrinkNumber:2}}</div>
      </div>
      <div class="row row-center">
        <div class="col col-30">Prev. close:</div>
        <div class="col col-20">{{marketdata.PreviousClose | shrinkNumber:2}}</div>
        <div class="col col-30">Open:</div>
        <div class="col col-20">{{marketdata.Open | shrinkNumber:2}}</div>
      </div>
      <div class="row row-center">
        <div class="col col-30">Day's high:</div>
        <div class="col col-20">{{pricedata.day_high | shrinkNumber:2}}</div>
        <div class="col col-30">Day's low:</div>
        <div class="col col-20">{{pricedata.day_low | shrinkNumber:2}}</div>
      </div>
      <div class="row row-center">
        <div class="col col-30">52w high:</div>
        <div class="col col-20">{{marketdata.YearHigh | shrinkNumber:2}}</div>
        <div class="col col-30">52w low:</div>
        <div class="col col-20">{{marketdata.YearLow | shrinkNumber:2}}</div>
      </div>
      <div class="row row-center">
        <div class="col col-30">Volume:</div>
        <div class="col col-20">{{pricedata.volume | shrinkNumber:2}}</div>
        <div class="col col-30">Avg. volume:</div>
        <div class="col col-20">{{marketdata.AverageDailyVolume | shrinkNumber:2}}</div>
      </div>
      <div class="row row-center">
        <div class="col col-30">Market cap:</div>
        <div class="col col-20">{{marketdata.MarketCapitalization}}</div>
        <div class="col col-30">EBITDA:</div>
        <div class="col col-20">{{marketdata.EBITDA}}</div>
      </div>
      <div class="row row-center">
        <div class="col col-30">P/E:</div>
        <div class="col col-20">{{marketdata.PERatio}}</div>
        <div class="col col-30">EP:</div>
        <div class="col col-20">{{marketdata.EarningsShare}}</div>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">Notes</div>
      <div class="row row-center">
        <a class="item"><h2>Note title</h2></a>
      </div>
    </div>

    <div class="card">
      <item class="item item-divider">News</item>
      <a class="item item-icon-right">
        <h2>News story title</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
